.card {
  @include center;

  box-sizing: border-box;
  padding: $card-padding;
  border: 1px solid $color-border;
  border-radius: $card-radius;
  flex-direction: column;
  width: $card-width;

  transition: transform $transition-time;

  &__image {
    margin-top: 16px;
    width: 160px;
    height: 134px;
  }

  &__title {
    @include roboto500;

    margin-top: 40px;
    font-size: 12px;
    line-height: 18px;
    color: $color-text;

    transition: color $transition-time;
  }

  &__code {
    @include roboto400;

    color: $color-muted;
    font-size: 10px;
    line-height: 14px;
    margin-top: 4px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.card:hover .card__title {
  color: $color-title-hover;
}
